// Переменные

// Лого
$logo-color: #333333;

// Cсылки
$link-color: #333333;
$link-color-hover: #00BF78;

// Фон
$bk-color-section: #ccc;
$bk-color-header: #F8F6F7;

// Кнопки
$btn-bk-color:#FB9475;
$btn-bk-color-hover:#fab29c;
$btn-color:white;

// Тени
$shadow:rgb(151, 151, 151);


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::placeholder {
  color: grey;
}

html,
body,
.wrapper {
  height: 100%;
}

body {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  min-width: 320px;
}

.container {
  max-width: 1140px;
  width: 100%;
}

.h-center {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.header,
.footer {
  flex-shrink: 0;
}

.section {
  padding: 50px 0;

  &__grey {
    background-color: $bk-color-section;
  };

  &__header {
    font-weight: 700;
    font-size: 48px;
    color: #333333;
  };
}

a {
  text-decoration: none;  
}

.btn {
  align-items: center;
  font-size: 12px;

  &__large {
    border-radius: 24px;
    background: $btn-bk-color;
    color: $btn-color;
    border: none;
    font-size: 14px;
    padding: 15px 30px;
    height: 48px;
    left: 163px;
    top: 17px;
    transition: 0.5s;
  }

  &__large:hover {
    background-color: $btn-bk-color-hover;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }
}

.btn__totop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 50%;
  font-size: 18px;
  transition: 0.5s;
}

.btn__totop:hover {
  background: #c3c4c4;
  transition: 0.5s;
  filter: drop-shadow(1px 1px 1px $shadow); 
}

.footer {
  padding-top: 20px;
  height: 78px;
  background-color: rgb(228, 228, 228);
}

.footer__nav {
  margin-bottom: 30px;
}

.padding-top20px {
  padding-top: 20px;
}

.padding-top32px {
  padding-top: 32px;
}

.sText {
  font-weight: 400;
  font-size: 12px;
}

.carousel {
  &__wrapper {
    padding-top: 10px;
    width: 100%;
  }
  &__item {
    padding: 15% 15%;
  }
  &__img {
    height: 275px; 
    object-fit:cover; 
    width: 275px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__img:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
    cursor: pointer;
    overflow: hidden;
    filter: brightness(40%);
  }
}

.carousel__img, .carousel__img:hover{
  transition: 0.5s;
  border-radius: 8px;
}